<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
<style>
form{
    padding: 2%;
    width: 40%;

}
 h3{

padding: 23px;
background: black;
color: wheat;
border-bottom: 4px solid sandybrown;
margin-bottom: 3%;
font-family: fantasy;
font-size: 41px;
      }
      .container{
        display: flex;
    justify-content: center;
    align-items: center;
    width: 36%;
      }
      input{
        outline:none
      }
</style>
</head>
<body>
  <h3>TODO APP</h3>
  <div class="container">
    <form action="/item/addItem" method="POST" class="input-group"> 
        <input type="text" class="form-control"  placeholder="Add Your Item here ....." name="title">
        <button class="btn btn-dark btn-lg" type="submit">Add Item</button>
  </form>
  </div>
</body>
</html>